<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

    <servlet>
        <servlet-name>GTDServlet</servlet-name>
        <servlet-class>com.jdblabs.gtd.servlet.GTDServlet</servlet-class>

        <init-param>
            <param-name>gtdRootDir</param-name>
            <param-value>/home/jdbernard/gtd</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>GTDServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
